{% extends 'pages/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block main %}
      <body class="text-center">
   <link href="{% static 'css/cover.css' %}" rel="stylesheet">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

     <main role="main" class="inner cover">
        <h1 class="cover-heading">Ваш пароль успешно сброшен</h1>
        <p class="lead">Вы можете снова войти в свою учетную запись</p>
        <p class="lead">
          <a href="{% url 'login:login' %}" class="btn btn-lg btn-secondary">Вход</a>
        </p>
      </main>
    </div>
{% endblock main %}