{% extends 'pages/base.html' %}
{% load bootstrap4 %}
{% bootstrap_jquery %}
{% load static %}
{% block main %}
 <body>
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/duel.css' %}" rel="stylesheet">
 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Let's Duel {{ user.first_name}}</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'login:logout' %}">Выход</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <main class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:profile' %}">
                  <span data-feather="home"></span>
                  Личный Кабинет
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:add_post' %}">
                  <span data-feather="image"></span>
                  Добавить работы
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'main:album' %}">
                  <span data-feather="book-open"></span>
                  Галерея<span class="sr-only">(current)</span>
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link active" href="{% url 'main:duel' %}">
                  <span data-feather="book-open"></span>
                  Дуэли
                </a>
              </li>

            </ul>



          </div>
        </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1 class="h3 text-center my-4">Дуэли</h1>
 <div class="container">


 <form  method="post">
 {% csrf_token %}
    <div class="parent">



        {% if deuce.1.cover.url  %}
             {% for work in deuce %}

            <div>
                 <img src="{{work.cover.url}}" alt="" class="card-img-top">

                    <input type="hidden" name="work_id_{{ forloop.counter }}" value="{{ work.id }}">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline{{ forloop.counter }}" name="customRadioInline1" class="custom-control-input" value="{{ work.id }}">
                     <label class="custom-control-label" for="customRadioInline{{ forloop.counter }}">{{ work.title}}</label>
                </div>
            </div>

        {% endfor %}

  </div>
  <button type="submit" class="btn btn-primary card-img-bottom">Голосовать<span class="badge badge-light rate">{{ work.rate }}</span><span class="sr-only">unread messages</span></button>

        {% else %}
         <p>Фото закончились</p>
        {% endif %}






</form>
    </div>

</main>
 <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
{% endblock %}
