{% extends 'pages/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block main %}
    {% if org_adm %}
        <p>Вы являетесь администратором организаций: {% for i in org_adm %}{{ i.organisation_name }}  {% endfor %}</p>
        <a href="{% url 'login:signup' %}" class="btn btn-lg btn-outline-dark">Добавить участников</a>
        <a href="{% url 'login:signup' %}" class="btn btn-lg btn-outline-danger">Удалить организацию</a>
    {% elif org_user %}
        <p>Вы участник групп: {% for x in org_user %}{{ x.organisation_name }}  {% endfor %} </p>
        <a href="{% url 'main:create_org' %}" class="btn btn-lg btn-outline-info">Создать организацию</a>
    {% else %}
        <p>Вы не участник групп</p>
        <a href="{% url 'main:create_org' %}" class="btn btn-lg btn-outline-info">Создать организацию</a>
    {% endif %}
{% endblock main %}