{% extends 'pages/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block main %}
    <body class="text-center">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <div>
        <a href="{% url 'main:org_add' %}" class="btn btn-lg btn-outline-dark">Добавить организацию</a>
    </div>
    <div>
        <a href="{% url 'main:org_enter' %}" class="btn btn-lg btn-outline-danger">Найти организацию</a>
    </div>
    <div>
        <a href="{% url 'main:org_duel' %}" class="btn btn-lg btn-outline-info">Дуэли организации</a>
    </div>
    <div>
        <a href="{% url 'main:org_enter' %}" class="btn btn-lg btn-outline-warning">Топ работ</a>
    </div>


    </body>

{% endblock main %}